<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cadastrar.css">
    <title>Document</title>
</head>
<body>
    <div class="retangulo1"></div>
    <div class="aviao1"></div>
    <div class="aviao2"></div>
    <div class="vector1"></div>
    
    {% block conteudo %}

        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div class="aviso">
                {% for msg in mensagens%}
                {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    
    {% endblock %}

    <h1 class="titulo1">CADASTRO ALUNO</h1>

    <form action="/cadastraraluno.html" method="POST">
        <label for="nome" class="label1">Nome</label>
        <input type="text" name="nome" id="" class="input1">

        <label for="curso" class="label2">Curso</label>
        <select name="curso" id="" class="input2">
            <option value="">selecione o curso</option>
            <option value="Sistemas de Informacao">Sistemas de Informação</option>
            <option value="Engenharia de Producao">Engenharia de Produção</option>
            <option value="Engenharia Eletrica">Engenharia Elétrica</option>
            <option value="Engenharia de Computacao">Engenharia de Computação</option>
        </select>

        <label for="email" class="label3">Email</label>
        <input type="text" name="email" id="" class="input3">

        <label for="idade" class="label4">Idade</label>
        <input type="text" name="idade" id="" class="input4">

        <label for="senha" class="label5">Senha</label>
        <input type="password" name="senha" id="" class="input5">

        <button type="submit" class="btncadastrar">Cadastrar</button>
    </form>
    <a href="/" class="sair">sair</a>
</body>
</html>