<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/entrar.css">
    <title>Document</title>
</head>
<body>
    <div class="vetor1"></div>
    <div class="aviao1"></div>
    <div class="aviao2"></div>
    <div class="retangulo1"></div>

    {% block conteudo %}

        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            <div class="aviso">
                {% for msg in mensagens%}
                {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    
    {% endblock %}
    
    <h1 class="texto1">LOGIN</h1>

    <form action="/entrar.html" method="post">
        <label class="email">Email</label>
        <input type="text" class="retangulo2" name="email">
        <label class="senha">Senha</label>
        <input type="password" class="retangulo3" name="senha">

        <button class="entrar" type="submit">ENTRAR</button>
    </form>

    <a href="/" class="eclipse1">voltar</a>
</body>
</html>