<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Bem Vindo(a) ao</h1>
    <h2>HELP DESK</h2>
    <div class="div1">ESTUDANTIL</div>
    <div class="div2">Aqui você pode expressar o seu maior obstáculo de uma forma simples e prática.</div>
    <div class="vector1"></div>
    
    <a class="ret2" href="/entrar.html">ENTRAR</a>
    <div class="div3">CADASTRO</div>
    <a href="/cadastraraluno.html" class="ret3">sou aluno</a>
    <a href="/cadastrarprofessor.html" class="ret4">sou professor</a>

    <div class="textodebaixo">*Plataforma dedicada ao estudo da Universidade Federal de Ouro Preto</div>
    <div class="imgUfop"></div>
    <h3 class="subtexto">Nosso objetivo</h3>
    <div class="vetor2"></div>
    <div class="aviao1"></div>
    <h3 class="textodoobj">Mostrar aos estudantes que não há necessidade de esconder o que lhe atrapalha a chegar onde tanto sonha seja ele sua formatura, emprego dos sonhos e demais vontades. O Help Desk Estudantil tem o objetivo de agrupar os mais diversos problemas que os alunos queixam durante e depois dos períodos escolares. E com isso, levar esses resultados a uma melhor solução, colocando o estudante seguro que não existe apenas ele com aqueles problemas!</h3>

    <h1 class="textodesenvolvedores">Equipe de Desenvolvedores</h1>


    <div class="desenvolvedores">
        <img src="../static/fotos/cr7.jpeg" alt="" class="foto1">
        <img src="../static/fotos/matheusmetralha.jpeg" alt="" class="foto2">
        <img src="../static/fotos/bruno.jpeg" alt="" class="foto3">
        <img src="../static/fotos/rafaelcouto.jpeg" alt="" class="foto4">
        <img src="../static/fotos/cesar.jpeg" alt="" class="foto5">
        <img src="../static/fotos/pablo.jpeg" alt="" class="foto6">
    </div>

    <h4 class="nome1">Dalton Morais</h4>
    <h4 class="nome2">Matheus Corradi</h4>
    <h4 class="nome3">Bruno Carvalho</h4>
    <h4 class="nome4">Rafael Couto</h4>
    <h4 class="nome5">César Lopes</h4>
    <h4 class="nome6">Pablo Batista</h4>

    <br>
</body>
</html>