
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/novorelato.css">
    <title>Document</title>
</head>
<body>
    <p>id Usuário logado: {{id}}</p>
    <h3 class="header1">Seu relato</h3>

    <form action="/novorelato.html/{{id}}" method="post">
        <label for="relato" class="label1">Relate seu problema</label>
        <input type="text" class="input1" name="relato" placeholder="Digite seu problema aqui...">

        <label for="intensidade" class="label2">Intensidade</label>
        <select name="intensidade" id="" class="input2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label for="frequencia" class="label3">Frequencia</label>
        <select name="frequencia" id="" class="input3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <button type="submit" class="concluir">Publicar Relato</button>
    </form>

    <a href="/relatos.html/{{id}}" class="sair">voltar</a>
</body>
</html>